:root {
  --fontBase: "Inconsolata", monospace;
  --fontAlternative: "Space Mono", monospace;
  --navTextMobile: 24px/25px var(--fontBase);
  --titleTextMobile: bold 48px/71px var(--fontAlternative);
  --bodyTextMobile: 18px/24px var(--fontAlternative);
  --bntTextMobile: bold 14px/20.73px var(--fontAlternative);
  --footerTextMobile: 14px/17px var(--fontAlternative);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontBase);
}

.container {
  box-sizing: border-box;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding-block-start: 20px;
}

h2 > a {
  font: var(--navTextMobile);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.08em;
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: auto;
}

.content {
  margin-block-start: 64px;
}

.contant-img {
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  margin-block-end: 60px;
  text-align: center;
}

.contant-text > h1 {
  font: var(--titleTextMobile);
  letter-spacing: -0.035em;
}
.contant-text > p {
  margin-block-start: 30px;
  margin-block-end: 66px;
  font: var(--bodyTextMobile);
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
}

.btn {
  margin-block-end: 117px;
  width: 216px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.btn > a {
  font: var(--bntTextMobile);
  text-decoration: none;
  color: white;
}

footer > p {
  font: var(--footerTextMobile);
  text-align: center;
  color: #bdbdbd;
}

@media screen and (min-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding-inline-start: 77px;
    padding-inline-end: 77px;
    justify-content: space-between;
  }
  .content {
    display: flex;
    align-items: center;
  }
  .contant-img {
    max-inline-size: 539px;
    block-size: auto;
  }
}
